
.button{
    background-color: rgb(60, 217, 58);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
}
input{
    padding: 5px;
    background-color: rgb(177, 245, 255);
}

.main{
    background-color: azure;
    text-align: center;
}